<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MemberMapper">
	<select id="getNumRecords" resultType="int">
		select count(*) from board
	</select>

	<update id="updateHits" parameterType="int">
		update board set hits=hits+1 where num = #{num}
	</update>

	<select id="selectOne" parameterType="int"
		resultType="com.board.db.MemberDto">
		select * from member where num = #{num}
	</select>
	<!-- 여기서부터  -->
	<select id="selectByEmailPss" parameterType = "string">
		select * from member where email = #{email} and pss = #{
	</select>


	<select id="countProducts" parameterType="int" resultType="int">
		SELECT stock FROM products WHERE id = #{id}
	</select>



	<insert id="insertBoard" parameterType="com.board.db.BoardDto">
		INSERT INTO board (num, writer, title, content, regtime, hits)
		VALUES (Board_seq.nextval, #{writer}, #{title}, #{content}, sysdate, 0)
	</insert>

	<update id="updateBoard" parameterType="com.board.db.BoardDto">
		UPDATE board
		SET writer = #{writer}, title = #{title}, content = #{content}
		WHERE num = #{num}
	</update>



	<delete id="deleteBoard" parameterType="int">
		DELETE FROM board WHERE num = #{num}
	</delete>
</mapper>